<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="close-x" >&times;</span>
                </button>
    <h5 class="modal-title">{{ car.car_model }}</h5>
</div>
<div class="modal-body">
    <p><strong>Make & Model:</strong> {{ car.car_make }} {{ car.car_model }}</p>    
    <p><strong>Year:</strong> {{ car.car_year }}</p>
    <p><strong>Price:</strong> <i class="fa fa-usd"></i> {{ car.car_price }}</p>
    <p><strong>Reliability:</strong> {{ car.car_reliability }}</p>
    <p><strong>Description:</strong> {{ car.car_description }}</p>
    
    <hr style="height:1px;background-color:#808080;">
    <p><strong>Dealership:</strong> {{ car.dealer_name }}</p>
    <p><strong>Area:</strong> {{ car.dealer_area }}</p>
    <p><strong>Web:</strong> <a class="detail-link" href="{{car.dealer_web}}" target="_blank">{{ car.dealer_web }}</a></p>    
</div>
<div class="modal-footer">
    <button type="button" class="btn-search-car btn btn-secondary" data-dismiss="modal">Close</button>
    <a href="{{car.car_web}}" target="_blank" class="btn-search-car btn btn-primary" role="button" aria-disabled="true">Dealer's Webpage</a>
</div>
