{% extends "base.html" %} {% load thumbnail %} {% block content %} 

{% if car_list%}

{% for car in car_list %}

<div class="col-sm-4">
    <div class="panel panel-primary">
        <div class="panel-heading">{{ car.car_year }}, {{ car.car_make }} {{ car.car_model }}</div>
        <div class="panel-body">
            <a href="{% url 'cars:details' car.id %}" data-toggle="modal" data-target="#detailsModal{{car.id}}">
                {% thumbnail car.car_image "650x500" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive" alt="Car Thumb">
                {% endthumbnail %}
            </a>
        </div>
        <div class="panel-footer">
            <span style="vertical-align: middle; font-size:15px;" class="align-middle">
                <i class="fa fa-usd"></i> {{ car.car_price }}                
            </span>

            <a href="{% url 'cars:details' car.id %}" data-toggle="modal" data-target="#detailsModal{{car.id}}" class="btn btn-primary btn-sm pull-right btn-search-car" role="button" aria-disabled="true">Details</a>
            <a href="{{car.car_web}}" target="_blank" class="btn btn-primary btn-sm pull-right btn-search-car" role="button" aria-disabled="true">Dealer's Webpage</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="modal" id="detailsModal{{car.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% include "details.html" %}
        </div>
    </div>
</div>

{% endfor %} 

{% else %}

<div class="row row-centered">
    <h3>No cars found matching your criteria.</h3>
    <br/>
    <br/>
</div>

{% endif %}

{% endblock %}
