
{% if search == True %}

<script type="text/javascript">
    $(document).ready(function () {
        // Handler for .ready() called.
        $('html, body').animate({
            scrollTop: $('#search').offset().top
        }, 'fast');
    });
</script>

{% endif %}


<div class="well" id="search" name="search">
    <div class="row">

        <form id="searchform" action="{% url 'cars:index' %}" method="get" accept-charset="utf-8">
            <div class="form-row align-items-center">
                <div class="form-group col-lg-2">
                    <select class="form-control" id="carmake" name="carmake">
                        <option selected disabled>Car Make</option>
                        <option disabled>──────────</option>
                        {% for choice in makes %}
                        <option value="{{ choice.0 }}">{{ choice.0 }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-lg-2">
                    <select class="form-control" id="carmodel" name="carmodel">
                        <option selected disabled>Car Model</option>
                        <option disabled>──────────</option>
                        {% for choice in models %}
                        <option value="{{ choice.0 }}">{{ choice.0 }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-lg-2" id="caryear" name="caryear">
                    <select class="form-control">
                        <option value="" selected disabled>Car Year</option>
                        <option disabled>──────────</option>
                        {% for choice in years %}
                        <option value="{{ choice.0 }}">{{ choice.0 }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-lg-2">
                    <select class="form-control" id="carprice" name="carprice">            
                        <option disabled selected>Price Range</option> 
                        <option disabled>──────────</option>
                        <option value="1">Below $10000</option>
                        <option value="2">$10000 - $15000</option>
                        <option value="3">$15000 - $20000</option>
                        <option value="4">Above $20000</option>
                    </select>
                </div>


                <div class="form-group col-lg-2">
                    <select class="form-control" id="area" name="area">
                         <option selected disabled>Area</option>
                         <option disabled>──────────</option>
                         {% for choice in areas %}
                         <option value="{{ choice.0 }}">{{ choice.0 }}</option>
                         {% endfor %}
                    </select>
                </div>

                <div class="form-group col-lg-2">
                    <select class="form-control" id="dealer" name="dealer">
                        <option selected disabled>Dealership</option>
                        <option disabled>──────────</option>
                        {% for choice in dealers %}
                        <option value="{{ choice.0 }}">{{ choice.0 }}</option>
                        {% endfor %}            
                    </select>
                </div>

            </div>

            <div class="form-row align-items-center">
                <div class="form-group col-lg-2 ">  
                    <select class="form-control" id="sort" name="sort">
                        <option selected disabled>Sort by</option>
                        <option disabled>──────────</option>
                        <option value="1">Price: low - high</option>
                        <option value="2">Price: high - low</option>
                        <option value="3">Year: newest</option>
                        <option value="4">Year: oldest</option>
                    </select>                    
                </div>  
                
                <div class="form-group col-lg-8">                    
                    <input id="desc" name="desc" value="" placeholder="Search for additional car features (e.g. cruize control)... " class="form-control" type="text">
                </div>
                <div class="form-group col-lg-2"> 
                    <button type="submit" class="btn btn-primary btn-block btn-search-cars"><i class="fa fa-search"> </i> Search! </button>
                </div>
            </div>
        </form>
    </div>
</div>
